# ---------------------------------------------------------
# Local Development Environment Variables
# ---------------------------------------------------------

# The connection string to your MongoDB Database
# Format: mongodb+srv://username:password@cluster.mongodb.net/?appName=App
# Required for running the app locally or deploying on Vercel
MONGO_URI=mongodb+srv://ravimotors:10669Abc@cluster0.mqdicae.mongodb.net/testdb?retryWrites=true&w=majority
# You can add other environment variables here if needed later
# PORT=3000
